@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/FixelDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/FixelDisplay-Bold.otf") format("otf");
}
@font-face {
  font-family: "ExtraBold";
  src: url("./assets/fonts/FixelDisplay-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/FixelDisplay-ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Medium";
  src: url("./assets/fonts/FixelDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/FixelDisplay-Medium.otf") format("otf");
}
@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/FixelDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/FixelDisplay-Regular.otf") format("otf");
}
@font-face {
  font-family: "SemiBold";
  src: url("./assets/fonts/FixelDisplay-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/FixelDisplay-SemiBold.otf") format("otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
